* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  list-style: none;
  padding: 24px 0;
}

.gallery-image {
  width: 360px;
  height: 200px;
}
.feedback-form {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 300px;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  outline: none;
  transition: border 0.3s ease;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 1px solid #000;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 1px solid #2196f3; /* синій колір при фокусі */
  box-shadow: 0 0 0 1px #2196f3;
}

.feedback-form button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  color: white;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedback-form button:hover {
  background-color: #1976d2;
}
